body {
	text-align: center;
	background-color: rgb(233, 215, 207);
	color: rgb(83, 75, 75);
}

img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}
a:hover {
	text-decoration: underline;
}

#today-challenge {
	color: rgb(170, 96, 83);
	font-weight: bold;
	font-size: 52px;
}
